In [1]:
import pandas as pd
import numpy as np
import yaml
from datetime import date

In [2]:
# Inicializamos la dimensión creando un dataframe con un rango de fechas.
dim_fecha = pd.DataFrame({
    "date": pd.date_range(start='1/1/2000', end='12/31/2025', freq='D')
})

# Mostramos las primeras filas.
dim_fecha

           date
0    2000-01-01
1    2000-01-02
2    2000-01-03
3    2000-01-04
4    2000-01-05
...         ...
9492 2025-12-27
9493 2025-12-28
9494 2025-12-29
9495 2025-12-30
9496 2025-12-31

[9497 rows x 1 columns]

In [3]:
# Cambiamos el nombre de los días a español.
dias = {
    "Monday": "Lunes", "Tuesday": "Martes", "Wednesday": "Miercoles",
    "Thursday": "Jueves", "Friday": "Viernes", "Saturday": "Sabado",
    "Sunday": "Domingo"  
}

# Cambiamos el nombre de los meses a español.
meses = {
    "January": "Enero", "February": "Febrero", "March": "Marzo",
    "April": "Abril", "May": "Mayo", "June": "Junio",
    "July": "Julio", "August": "Agosto", "September": "Septiembre",
    "October": "Octubre", "November": "Noviembre", "December": "Diciembre"
}

In [4]:
# Añadimos las columnas a la dimensión.
dim_fecha.rename(columns={"date": "fecha"}, inplace=True)
dim_fecha["año"] = dim_fecha["fecha"].dt.year
dim_fecha["mes"] = dim_fecha["fecha"].dt.month
dim_fecha["dia"] = dim_fecha["fecha"].dt.day

In [5]:
# Añadimos las columnas de formato string a la dimensión.
dim_fecha["nombre_dia"] = dim_fecha["fecha"].dt.day_name().map(dias)
dim_fecha["nombre_mes"] = dim_fecha["fecha"].dt.month_name().map(meses)
dim_fecha["fecha_id"] = dim_fecha["fecha"].dt.strftime("%Y%m%d").astype(int)


# Visualizamos las primeras filas.
dim_fecha.head()

       fecha   año  mes  dia nombre_dia nombre_mes  fecha_id
0 2000-01-01  2000    1    1     Sabado      Enero  20000101
1 2000-01-02  2000    1    2    Domingo      Enero  20000102
2 2000-01-03  2000    1    3      Lunes      Enero  20000103
3 2000-01-04  2000    1    4     Martes      Enero  20000104
4 2000-01-05  2000    1    5  Miercoles      Enero  20000105

In [6]:
from sqlalchemy import create_engine
# Abrimos el archivo YAML de configuracion para conectarse a las bases de datos.
with open("../../config.yml", "r") as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)
    # Cargamos el archivo correspondiente a la base de datos origen.
    config_origen = config["ORIGEN"]
    # Cargamos el archivo correspondiente a la base de datos destino.
    config_bodega = config["BODEGA"]

# Verificamos que se haya realizado la carga correctamente.
config_origen

{'drivername': 'postgresql',
 'host': 'localhost',
 'port': 5433,
 'user': 'postgres',
 'password': 'postgres',
 'dbname': 'Mensajeria'}

In [7]:
# Construimos la URL de conexión a la base de datos origen usando los parámetros extraídos del archivo YAML.
url_origen = (f"{config_origen['drivername']}://{config_origen['user']}:{config_origen['password']}@{config_origen['host']}:"
          f"{config_origen['port']}/{config_origen['dbname']}")

# Verificamos que se haya generado la url correctamente.
url_origen

'postgresql://postgres:postgres@localhost:5433/Mensajeria'

In [8]:
# Construimos la URL de conexión a la base de datos destino usando los parámetros extraídos del archivo YAML.
url_bodega = (f"{config_bodega['drivername']}://{config_bodega['user']}:{config_bodega['password']}@{config_bodega['host']}:"
          f"{config_bodega['port']}/{config_bodega['dbname']}")

# Verificamos que se haya generado la url correctamente.
url_bodega

'postgresql://postgres:postgres@localhost:5433/MensajeriaOLAP2'

In [9]:
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
fecha_origen  = create_engine(url_origen)
fecha_bodega = create_engine(url_bodega)

In [10]:
# Cargamos la dimensión a la base de datos destino.
dim_fecha.to_sql('dim_fecha', fecha_bodega, if_exists='replace',index_label='key_dim_fecha')

497

In [11]:
# Visualizamos las primeras filas de la dimensión.
loaded_dim_fecha = pd.read_sql_table('dim_fecha', fecha_bodega)
print(loaded_dim_fecha.head())

   key_dim_fecha      fecha   año  mes  dia nombre_dia nombre_mes  fecha_id
0              0 2000-01-01  2000    1    1     Sabado      Enero  20000101
1              1 2000-01-02  2000    1    2    Domingo      Enero  20000102
2              2 2000-01-03  2000    1    3      Lunes      Enero  20000103
3              3 2000-01-04  2000    1    4     Martes      Enero  20000104
4              4 2000-01-05  2000    1    5  Miercoles      Enero  20000105