In [29]:
import pandas as pd
import numpy as np
import yaml
from datetime import date
from sqlalchemy import create_engine

In [30]:
import pandas as pd

# 1. Generar todas las horas posibles del día en segundos
times = pd.date_range("00:00:00", "23:59:59", freq="S")  # cada segundo del día

# 2. Crear el DataFrame de dimensión tiempo
dim_tiempo = pd.DataFrame()
dim_tiempo["hora"] = times
dim_tiempo["tiempo_id"] = dim_tiempo["hora"].dt.strftime("%H%M%S").astype(int)

dim_tiempo

C:\Users\laura\AppData\Local\Temp\ipykernel_7920\2048103897.py:4: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  times = pd.date_range("00:00:00", "23:59:59", freq="S")  # cada segundo del día

                     hora  tiempo_id
0     2025-07-10 00:00:00          0
1     2025-07-10 00:00:01          1
2     2025-07-10 00:00:02          2
3     2025-07-10 00:00:03          3
4     2025-07-10 00:00:04          4
...                   ...        ...
86395 2025-07-10 23:59:55     235955
86396 2025-07-10 23:59:56     235956
86397 2025-07-10 23:59:57     235957
86398 2025-07-10 23:59:58     235958
86399 2025-07-10 23:59:59     235959

[86400 rows x 2 columns]

In [31]:
# Visualizamos las primeras filas.
dim_tiempo.head()

                 hora  tiempo_id
0 2025-07-10 00:00:00          0
1 2025-07-10 00:00:01          1
2 2025-07-10 00:00:02          2
3 2025-07-10 00:00:03          3
4 2025-07-10 00:00:04          4

In [32]:
# Abrimos el archivo YAML de configuracion para conectarse a las bases de datos.
with open("../../config.yml", "r") as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)
    # Cargamos el archivo correspondiente a la base de datos origen.
    config_origen = config["ORIGEN"]
    # Cargamos el archivo correspondiente a la base de datos destino.
    config_bodega = config["BODEGA"]

# Verificamos que se haya realizado la carga correctamente.
config_origen

{'drivername': 'postgresql',
 'dbname': 'oltp_proyecto',
 'user': 'postgres',
 'password': 'Berlin2020',
 'host': 'localhost',
 'port': 5432}

In [33]:
# Construimos la URL de conexión a la base de datos origen usando los parámetros extraídos del archivo YAML.
url_origen = (f"{config_origen['drivername']}://{config_origen['user']}:{config_origen['password']}@{config_origen['host']}:"
          f"{config_origen['port']}/{config_origen['dbname']}")

# Verificamos que se haya generado la url correctamente.
url_origen

'postgresql://postgres:Berlin2020@localhost:5432/oltp_proyecto'

In [34]:
# Construimos la URL de conexión a la base de datos destino usando los parámetros extraídos del archivo YAML.
url_bodega = (f"{config_bodega['drivername']}://{config_bodega['user']}:{config_bodega['password']}@{config_bodega['host']}:"
          f"{config_bodega['port']}/{config_bodega['dbname']}")

# Verificamos que se haya generado la url correctamente.
url_bodega

'postgresql://postgres:Berlin2020@localhost:5432/olap_proyecto'

In [35]:
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
tiempo_origen  = create_engine(url_origen)
tiempo_bodega = create_engine(url_bodega)

In [36]:
# Cargamos la dimensión a la base de datos destino.
dim_tiempo.to_sql('dim_tiempo', tiempo_bodega, if_exists='replace', index_label='key_dim_tiempo')

400

In [37]:
# Visualizamos las primeras filas de la dimensión.
loaded_dim_tiempo = pd.read_sql_table('dim_tiempo', tiempo_bodega)
print(loaded_dim_tiempo.head())

   key_dim_tiempo                hora  tiempo_id
0               0 2025-07-10 00:00:00          0
1               1 2025-07-10 00:00:01          1
2               2 2025-07-10 00:00:02          2
3               3 2025-07-10 00:00:03          3
4               4 2025-07-10 00:00:04          4