In [1]:
import datetime
import numpy as np
import pandas as pd
import yaml
from sqlalchemy import create_engine
from datetime import  timedelta
from sqlalchemy import Time

In [2]:
# Abrimos el archivo YAML de configuracion para conectarse a las bases de datos.
with open("../../config.yml", "r") as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)
    # Cargamos el archivo correspondiente a la base de datos origen.
    config_origen = config["ORIGEN"]
    # Cargamos el archivo correspondiente a la base de datos destino.
    config_bodega = config["BODEGA"]

# Verificamos que se haya realizado la carga correctamente.
config_origen

{'drivername': 'postgresql',
 'host': 'localhost',
 'port': 5432,
 'user': 'postgres',
 'password': 'Pinito11',
 'dbname': 'proyecto_mensajeria_0'}

In [3]:
# Construimos la URL de conexión a la base de datos origen usando los parámetros extraídos del archivo YAML.
url_origen = (f"{config_origen['drivername']}://{config_origen['user']}:{config_origen['password']}@{config_origen['host']}:"
          f"{config_origen['port']}/{config_origen['dbname']}")

# Verificamos que se haya generado la url correctamente.
url_origen

'postgresql://postgres:Pinito11@localhost:5432/proyecto_mensajeria_0'

In [4]:
# Construimos la URL de conexión a la base de datos destino usando los parámetros extraídos del archivo YAML.
url_bodega = (f"{config_bodega['drivername']}://{config_bodega['user']}:{config_bodega['password']}@{config_bodega['host']}:"
          f"{config_bodega['port']}/{config_bodega['dbname']}")

# Verificamos que se haya generado la url correctamente.
url_bodega

'postgresql://postgres:Pinito11@localhost:5432/proyecto_mensajeria_dw'

In [5]:
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
origen  = create_engine(url_origen)
bodega = create_engine(url_bodega)

In [10]:
# Obtenemos las tablas de la bd de origen a utilizar para el hecho_novedad

# Cargar las tablas necesarias desde la base de datos origen a un dataFrame de pandas utilizando la conexión.
mensajeria_novedadesservicio = pd.read_sql_table("mensajeria_novedadesservicio", origen)
mensajeria_tiponovedad = pd.read_sql_table('mensajeria_tiponovedad', origen)

# Mostrar las primeras filas del DataFrame 'mensajeria_novedadesservicio'.
mensajeria_novedadesservicio.head()

,id,fecha_novedad,tipo_novedad_id,descripcion,servicio_id,es_prueba,mensajero_id
0,4,2023-11-30 05:00:00+00:00,1,A,51,True,7
1,5,2023-11-30 05:00:00+00:00,1,Halo,51,True,7
2,6,2023-11-30 05:00:00+00:00,1,A,51,True,7
3,7,2023-11-30 05:00:00+00:00,1,B,51,True,7
4,8,2023-11-30 05:00:00+00:00,1,A,51,True,7

In [9]:
# Mostrar las primeras filas del DataFrame 'mensajeria_tiponovedad'.
mensajeria_tiponovedad.head()

   id                  nombre
0   2      No puedo continuar
1   1  Novedades del servicio

In [53]:
# Mergeamos, para que en lugar de tener la id tengamos el nombre de la novedad
hecho_novedad = mensajeria_novedadesservicio.merge(mensajeria_tiponovedad, left_on='tipo_novedad_id', right_on='id', how='left')
hecho_novedad.head()

,id_x,fecha_novedad,tipo_novedad_id,descripcion,servicio_id,es_prueba,mensajero_id,id_y,nombre
0,4,2023-11-30 05:00:00+00:00,1,A,51,True,7,1,Novedades del servicio
1,5,2023-11-30 05:00:00+00:00,1,Halo,51,True,7,1,Novedades del servicio
2,6,2023-11-30 05:00:00+00:00,1,A,51,True,7,1,Novedades del servicio
3,7,2023-11-30 05:00:00+00:00,1,B,51,True,7,1,Novedades del servicio
4,8,2023-11-30 05:00:00+00:00,1,A,51,True,7,1,Novedades del servicio

In [54]:
# Reemplazamos el nombre de la columna de la novedad
hecho_novedad.rename(columns={'nombre': 'nombre_novedad'}, inplace=True)

In [55]:
# Eliminamos los campos que ya no necesitamos
hecho_novedad = hecho_novedad.drop(columns=['id_x', 'fecha_novedad', 'tipo_novedad_id', 'descripcion', 'es_prueba', 'mensajero_id', 'id_y'])

In [56]:
hecho_novedad.head()

   servicio_id          nombre_novedad
0           51  Novedades del servicio
1           51  Novedades del servicio
2           51  Novedades del servicio
3           51  Novedades del servicio
4           51  Novedades del servicio

Para dar respuesta a la pregunta 9. que dice:
9) ¿Cuáles son las novedades que más se presentan durante la prestación del servicio?

Se sacan 2 formas de responderla por ahora:
1 - Tener una tabla donde aparezca cada servicio, y las veces que una novedad aparece para ese servicio, se ordena de mayor cantidad de apariciones a menor.
2 - Contar en toda la tabla, sin importar a qué servicio pertenezcan, la cantidad de veces que aparece alguna novedad, como sólo hay 2 es simple, y se ordena de mayor a menor.

In [ ]:
# FORMA 1 - cantidad de veces por servicio

# Agrupar por servicio_id y nombre_novedad, y contar ocurrencias
conteo = hecho_novedad.groupby(['servicio_id', 'nombre_novedad']).size().reset_index(name='cantidad')

# Ordenar por servicio_id y cantidad en orden descendente
conteo_ordenado = conteo.sort_values(by=['servicio_id', 'cantidad'], ascending=[True, False])

conteo_ordenado

      servicio_id          nombre_novedad  cantidad
0              29      No puedo continuar         1
1              29  Novedades del servicio         1
3              51  Novedades del servicio         5
2              51      No puedo continuar         3
5              57  Novedades del servicio         2
...           ...                     ...       ...
3557        28455  Novedades del servicio         1
3558        28461      No puedo continuar         1
3559        28464      No puedo continuar         1
3560        28466      No puedo continuar         1
3561        28467      No puedo continuar         2

[3562 rows x 3 columns]

In [ ]:
#FORMA 2 - cantidad de veces en total sin importar el servicio

# Contar cuántas veces aparece cada nombre_novedad
conteo_total = hecho_novedad['nombre_novedad'].value_counts().reset_index()

# Renombrar las columnas para que sean más claras
conteo_total.columns = ['nombre_novedad', 'cantidad']

conteo_total

           nombre_novedad  cantidad
0  Novedades del servicio      3892
1      No puedo continuar      1316