In [1]:
import datetime
import numpy as np
import pandas as pd
import yaml
from sqlalchemy import create_engine
from datetime import  timedelta
from sqlalchemy import Time

In [2]:
# Abrimos el archivo YAML de configuracion para conectarse a las bases de datos.
with open("../../config.yml", "r") as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)
    # Cargamos el archivo correspondiente a la base de datos origen.
    config_origen = config["ORIGEN"]
    # Cargamos el archivo correspondiente a la base de datos destino.
    config_bodega = config["BODEGA"]

# Verificamos que se haya realizado la carga correctamente.
config_origen

{'drivername': 'postgresql',
 'host': 'localhost',
 'port': 5433,
 'user': 'postgres',
 'password': 'postgres',
 'dbname': 'Mensajeria'}

In [3]:
# Construimos la URL de conexión a la base de datos origen usando los parámetros extraídos del archivo YAML.
url_origen = (f"{config_origen['drivername']}://{config_origen['user']}:{config_origen['password']}@{config_origen['host']}:"
          f"{config_origen['port']}/{config_origen['dbname']}")

# Verificamos que se haya generado la url correctamente.
url_origen

'postgresql://postgres:postgres@localhost:5433/Mensajeria'

In [4]:
# Construimos la URL de conexión a la base de datos destino usando los parámetros extraídos del archivo YAML.
url_bodega = (f"{config_bodega['drivername']}://{config_bodega['user']}:{config_bodega['password']}@{config_bodega['host']}:"
          f"{config_bodega['port']}/{config_bodega['dbname']}")

# Verificamos que se haya generado la url correctamente.
url_bodega

'postgresql://postgres:postgres@localhost:5433/MensajeriaOLAP2'

In [5]:
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
origen  = create_engine(url_origen)
bodega = create_engine(url_bodega)

In [6]:
# Obtenemos las dimensiones relacionadas al hecho_servicio
dim_cliente = pd.read_sql_table('dim_cliente', bodega)
dim_sede = pd.read_sql_table('dim_sede', bodega)
dim_mensajero = pd.read_sql_table('dim_mensajero', bodega)
dim_fecha = pd.read_sql_table('dim_fecha', bodega)
dim_tiempo = pd.read_sql_table('dim_tiempo', bodega)

In [7]:
# Obtenemos la tabla de la bd de origen a utilizar
mensajeria_servicio = pd.read_sql_table('mensajeria_servicio', origen)
mensajeria_estado_servicio = pd.read_sql_table('mensajeria_estadosservicio', origen)

In [8]:
# Convertimos la columna de fecha_solicitud en mensajeria_servicio a datetime
mensajeria_servicio["fecha_solicitud"] = pd.to_datetime(mensajeria_servicio["fecha_solicitud"])

In [9]:
# Generar las claves foráneas para dim_fecha y dim_tiempo
mensajeria_servicio['fecha_id'] = mensajeria_servicio['fecha_solicitud'].dt.strftime('%Y%m%d').astype(int)
mensajeria_servicio['tiempo_id'] = mensajeria_servicio['fecha_solicitud'].dt.strftime('%H%M%S').astype(int)

mensajeria_estado_servicio['fecha_id'] = pd.to_datetime(mensajeria_estado_servicio ['fecha']).dt.strftime('%Y%m%d').astype(int)
mensajeria_estado_servicio['tiempo_id'] = mensajeria_estado_servicio['hora'].apply(lambda x: int(x.strftime('%H%M%S')))

In [10]:
# Seleccionamos los estados requeridos
estados = {1: "iniciado", 
           2: 'asignado',
           4: 'recogido',
           5: 'entregado',
           6: 'cerrado'}

# Filtrar solo los estados requeridos
mensajeria_estado_servicio = mensajeria_estado_servicio[mensajeria_estado_servicio['estado_id'].isin(estados.keys()) ]
mensajeria_estado_servicio['estado_nombre'] = mensajeria_estado_servicio['estado_id'].map(estados)

In [11]:
# Pivotear para tener cada estado como columna
estados_pivot = mensajeria_estado_servicio.pivot_table(
    index='servicio_id',
    columns='estado_nombre',
    values=['fecha_id', 'tiempo_id'],
    aggfunc='first'
)

# Aplanar columnas jerárquicas
estados_pivot.columns = [f"{tipo}_estado_{estado}_id" for tipo, estado in estados_pivot.columns]
estados_pivot.reset_index(inplace=True)

In [12]:
hecho_servicio_inicial = pd.DataFrame({
    'id': mensajeria_servicio['id'],
    'cliente_id': mensajeria_servicio['cliente_id'],
    'mensajero_id': mensajeria_servicio['mensajero_id'],
})

hecho_servicio = hecho_servicio_inicial.merge(
    estados_pivot,
    left_on='id',
    right_on='servicio_id',
    how='left'
)

hecho_servicio.drop(columns=['servicio_id', 'id'], inplace=True)

hecho_servicio.head()

,cliente_id,mensajero_id,fecha_id_estado_asignado_id,fecha_id_estado_cerrado_id,fecha_id_estado_entregado_id,fecha_id_estado_iniciado_id,fecha_id_estado_recogido_id,tiempo_id_estado_asignado_id,tiempo_id_estado_cerrado_id,tiempo_id_estado_entregado_id,tiempo_id_estado_iniciado_id,tiempo_id_estado_recogido_id
0,5,NaN,NaN,NaN,NaN,20231026.0,NaN,NaN,NaN,NaN,94603.0,NaN
1,5,7.0,20231028.0,NaN,20231207.0,20231026.0,20231028.0,144308.0,NaN,12534.0,111814.0,194518.0
2,5,NaN,NaN,NaN,NaN,20231028.0,NaN,NaN,NaN,NaN,192101.0,NaN
3,5,NaN,NaN,NaN,NaN,20231107.0,NaN,NaN,NaN,NaN,94609.0,NaN
4,5,NaN,NaN,NaN,NaN,20231107.0,NaN,NaN,NaN,NaN,94610.0,NaN

In [13]:
# En qué meses del año los clientes solicitan más servicios de mensajería
hecho_servicio.rename(columns={"fecha_id_estado_iniciado_id": "fecha_id"}, inplace=True)

servicios_por_mes = hecho_servicio.merge(dim_fecha, on="fecha_id")
servicios_por_mes.groupby("nombre_mes")["cliente_id"].count().sort_values(ascending=False)

nombre_mes
Mayo          4725
Julio         4549
Abril         4480
Agosto        4304
Junio         4184
Marzo         3337
Febrero       2479
Enero          296
Diciembre       25
Septiembre      21
Noviembre       17
Octubre         12
Name: cliente_id, dtype: int64

In [14]:
#  Cuáles son los días donde más solicitudes hay
servicios_por_dia = hecho_servicio.merge(dim_fecha, on="fecha_id")
servicios_por_dia.groupby("nombre_dia")["cliente_id"].count().sort_values(ascending=False)

nombre_dia
Martes       5397
Viernes      5282
Jueves       5158
Miercoles    4962
Lunes        4308
Sabado       2482
Domingo       840
Name: cliente_id, dtype: int64

In [15]:
# A qué hora los mensajeros están más ocupados
hecho_servicio.rename(columns={"tiempo_id_estado_asignado_id": "tiempo_id"}, inplace=True)
df = hecho_servicio.merge(dim_tiempo, on="tiempo_id")

df["hora_del_dia"] = df["hora"].dt.hour
conteo_por_hora = df.groupby("hora_del_dia").size().reindex(range(24), fill_value=0)
print(conteo_por_hora)

hora_del_dia
0      143
1      164
2      153
3      118
4      108
5       90
6      365
7     1293
8     3129
9     3256
10    2991
11    3010
12    1872
13    1409
14    2619
15    2543
16    1996
17     847
18     456
19     362
20     286
21     151
22     154
23     187
dtype: int64

In [16]:
# Número de servicios solicitados por cliente y por mes
df = hecho_servicio.merge(dim_cliente, on="cliente_id").merge(dim_fecha, on="fecha_id")
df.groupby(["cliente_id", "nombre_mes"]).size()

cliente_id  nombre_mes
2           Abril           2
            Agosto          2
            Enero           1
            Febrero        16
            Julio           1
                         ...
25          Julio         178
            Junio         155
            Marzo         124
            Mayo          155
27          Agosto          1
Length: 107, dtype: int64

In [17]:
# Mensajeros más eficientes (Los que más servicios prestan)
df = hecho_servicio.merge(dim_mensajero, on="mensajero_id")
df.groupby("mensajero_id").size().sort_values(ascending=False)

mensajero_id
30.0    2439
29.0    1553
15.0    1514
25.0    1456
31.0    1352
16.0    1333
41.0    1329
42.0    1254
22.0    1252
28.0    1228
11.0    1101
27.0    1068
8.0     1059
18.0     920
3.0      917
44.0     849
32.0     732
34.0     727
45.0     686
38.0     622
4.0      604
36.0     562
24.0     558
12.0     436
48.0     396
5.0      185
23.0     179
47.0     164
40.0     137
49.0     129
19.0     127
33.0     120
46.0     112
83.0      94
43.0      91
17.0      87
21.0      78
39.0      73
7.0       68
37.0      65
13.0      30
9.0       13
1.0        2
2.0        1
84.0       1
dtype: int64