In [1]:
import pandas as pd
import numpy as np
import yaml
from datetime import date
from sqlalchemy import create_engine

In [2]:
# Inicializamos la dimensión creando un dataframe con un rango de horas.
dim_tiempo = pd.DataFrame({
    "hora": pd.date_range("00:00", "23:00", freq='h')
})

# Mostramos las primeras filas.
dim_tiempo

                  hora
0  2025-05-10 00:00:00
1  2025-05-10 01:00:00
2  2025-05-10 02:00:00
3  2025-05-10 03:00:00
4  2025-05-10 04:00:00
5  2025-05-10 05:00:00
6  2025-05-10 06:00:00
7  2025-05-10 07:00:00
8  2025-05-10 08:00:00
9  2025-05-10 09:00:00
10 2025-05-10 10:00:00
11 2025-05-10 11:00:00
12 2025-05-10 12:00:00
13 2025-05-10 13:00:00
14 2025-05-10 14:00:00
15 2025-05-10 15:00:00
16 2025-05-10 16:00:00
17 2025-05-10 17:00:00
18 2025-05-10 18:00:00
19 2025-05-10 19:00:00
20 2025-05-10 20:00:00
21 2025-05-10 21:00:00
22 2025-05-10 22:00:00
23 2025-05-10 23:00:00

In [3]:
# Visualizamos las primeras filas.
dim_tiempo.head()

                 hora
0 2025-05-10 00:00:00
1 2025-05-10 01:00:00
2 2025-05-10 02:00:00
3 2025-05-10 03:00:00
4 2025-05-10 04:00:00

In [4]:
# Abrimos el archivo YAML de configuracion para conectarse a las bases de datos.
with open("../config.yml", "r") as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)
    # Cargamos el archivo correspondiente a la base de datos origen.
    config_origen = config["ORIGEN"]
    # Cargamos el archivo correspondiente a la base de datos destino.
    config_bodega = config["BODEGA"]

# Verificamos que se haya realizado la carga correctamente.
config_origen

{'drivername': 'postgresql',
 'dbname': 'oltp_proyecto',
 'user': 'postgres',
 'password': 'Berlin2020',
 'host': 'localhost',
 'port': 5432}

In [5]:
# Construimos la URL de conexión a la base de datos origen usando los parámetros extraídos del archivo YAML.
url_origen = (f"{config_origen['drivername']}://{config_origen['user']}:{config_origen['password']}@{config_origen['host']}:"
          f"{config_origen['port']}/{config_origen['dbname']}")

# Verificamos que se haya generado la url correctamente.
url_origen

'postgresql://postgres:Berlin2020@localhost:5432/oltp_proyecto'

In [6]:
# Construimos la URL de conexión a la base de datos destino usando los parámetros extraídos del archivo YAML.
url_bodega = (f"{config_bodega['drivername']}://{config_bodega['user']}:{config_bodega['password']}@{config_bodega['host']}:"
          f"{config_bodega['port']}/{config_bodega['dbname']}")

# Verificamos que se haya generado la url correctamente.
url_bodega

'postgresql://postgres:Berlin2020@localhost:5432/olap_proyecto'

In [7]:
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
tiempo_origen  = create_engine(url_origen)
tiempo_bodega = create_engine(url_bodega)

In [8]:
# Cargamos la dimensión a la base de datos destino.
dim_tiempo.to_sql('dim_tiempo', tiempo_bodega, if_exists='replace', index_label='key_dim_tiempo')

24

In [9]:
# Visualizamos las primeras filas de la dimensión.
loaded_dim_tiempo = pd.read_sql_table('dim_tiempo', tiempo_bodega)
print(loaded_dim_tiempo.head())

   key_dim_tiempo                hora
0               0 2025-05-10 00:00:00
1               1 2025-05-10 01:00:00
2               2 2025-05-10 02:00:00
3               3 2025-05-10 03:00:00
4               4 2025-05-10 04:00:00