In [1]:
import pandas as pd
import yaml
from sqlalchemy import create_engine
from datetime import date

In [2]:
# Abrimos el archivo YAML de configuracion para conectarse a las bases de datos.
with open("../config.yml", "r") as f:
    # Cargamos el archivo YAML usando la función safe_load de la librería 'yaml'.
    # Esto convierte el contenido del archivo en un diccionario de Python.
    config = yaml.safe_load(f)
    # Cargamos el archivo correspondiente a la base de datos origen.
    config_origen = config["ORIGEN"]
    # Cargamos el archivo correspondiente a la base de datos destino.
    config_bodega = config["BODEGA"]

# Verificamos que se haya realizado la carga correctamente.
config_origen

{'drivername': 'postgresql',
 'dbname': 'oltp_proyecto',
 'user': 'postgres',
 'password': 'Berlin2020',
 'host': 'localhost',
 'port': 5432}

In [3]:
# Construimos la URL de conexión a la base de datos origen usando los parámetros extraídos del archivo YAML.
url_origen = (f"{config_origen['drivername']}://{config_origen['user']}:{config_origen['password']}@{config_origen['host']}:"
          f"{config_origen['port']}/{config_origen['dbname']}")

# Verificamos que se haya generado la url correctamente.
url_origen

'postgresql://postgres:Berlin2020@localhost:5432/oltp_proyecto'

In [4]:
# Construimos la URL de conexión a la base de datos destino usando los parámetros extraídos del archivo YAML.
url_bodega = (f"{config_bodega['drivername']}://{config_bodega['user']}:{config_bodega['password']}@{config_bodega['host']}:"
          f"{config_bodega['port']}/{config_bodega['dbname']}")

# Verificamos que se haya generado la url correctamente.
url_bodega

'postgresql://postgres:Berlin2020@localhost:5432/olap_proyecto'

In [5]:
# Creamos el motor de conexión a la base de datos usando SQLAlchemy.
# El motor de conexión se usa para ejecutar consultas y transacciones en la base de datos.
sede_origen  = create_engine(url_origen)
sede_bodega = create_engine(url_bodega)

In [6]:
# Cargar la tabla "sede" desde la base de datos origen a un dataFrame de pandas utilizando la conexión.
dim_sede = pd.read_sql_table("sede", sede_origen)

# Mostrar las primeras filas del DataFrame 'cliente'.
dim_sede.head()

,sede_id,nombre,direccion,telefono,nombre_contacto,ciudad_id,cliente_id
0,10,FARALLONES /123,Los angeles distrito Latino,310-70000,JUAN PEREZ,1,4
1,11,REMEDIOZ/ 123,Los angeles distrito Latino,310-70000,JUAN PEREZ,1,4
2,13,DIME / LOS ROJOS,Los angeles distrito Latino,310-70000,JUAN PEREZ,1,4
3,14,DESPACHOS / LOS ROJOS,Los angeles distrito Latino,310-70000,JUAN PEREZ,1,4
4,23,POPAYAN BODEGA 28 / A,Los angeles distrito Latino,310-70000,JUAN PEREZ,3,11

In [7]:
# Cargamos la dimensión a la base de datos destino.
dim_sede.to_sql('dim_sede', con=sede_bodega, index_label='key_dim_sede', if_exists='replace')

52

In [8]:
# Visualizamos las primeras filas de la dimensión.
loaded_dim_sede = pd.read_sql_table('dim_sede', sede_bodega)
print(loaded_dim_sede.head())

   key_dim_sede  sede_id                 nombre                    direccion  \
0             0       10        FARALLONES /123  Los angeles distrito Latino
1             1       11          REMEDIOZ/ 123  Los angeles distrito Latino
2             2       13       DIME / LOS ROJOS  Los angeles distrito Latino
3             3       14  DESPACHOS / LOS ROJOS  Los angeles distrito Latino
4             4       23  POPAYAN BODEGA 28 / A  Los angeles distrito Latino

    telefono nombre_contacto  ciudad_id  cliente_id
0  310-70000      JUAN PEREZ          1           4
1  310-70000      JUAN PEREZ          1           4
2  310-70000      JUAN PEREZ          1           4
3  310-70000      JUAN PEREZ          1           4
4  310-70000      JUAN PEREZ          3          11